/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

/* Global Styles */
:root {
  --primary-color: #274d5a;
  --secondary-color: #f5c17b;
  /* --accent-color: #8c7ae6; */
  --light-color: #ffffff;
  --text-color: #2d3436;
  --border-radius: 10px;
  --box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  --transition: all 0.3s ease;
}

body {
  font-family: "Tajawal", "Nunito Sans", "Inter", sans-serif;
  color: var(--text-color);
  background-color: #fff;
}
a {
  text-decoration: none;
}
